.DS_Store
node_modules
dist/
target/
coverage/

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
.settings
.classpath
.project
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*
