{
  "useTabs": false,
  "printWidth": 160,
  "tabWidth": 2,
  "singleQuote": true,
  "semi": false,
  "arrowParens": "avoid",
  "trailingComma": "none",
  "bracketSpacing": true,
  "proseWrap": "preserve"
}
