@import './setting.scss';
@import '../theme.scss';

.theme-#{$theme-name} {
    .d2-layout-header-aside-group {
      $liner-color1: #36C;
      $liner-color2: #00B;
      $linear-gradient: linear-gradient(-45deg, $liner-color1 40%, $liner-color2 0, $liner-color2 50%, $liner-color1 0, $liner-color1 90%, $liner-color2 0);
      background-size: 16px 16px;
      background-color: $liner-color2;
      background-image: -webkit-$linear-gradient;
      background-image: -moz-$linear-gradient;
      background-image: -ms-$linear-gradient;
      background-image: -o-$linear-gradient;
      background-image: $linear-gradient;
    }
  }
